@font-face {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  src: url("../../assets/fonts/montserrat/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url("../../assets/fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url("../../assets/fonts/inter/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url("../../assets/fonts/inter/Inter-Medium.ttf");
}

@font-face {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url("../../assets/fonts/inter/Inter-Bold.ttf");
}

@font-face {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-display: swap;
  font-style: normal;
  src: url("../../assets/fonts/inter/Inter-Black.ttf");
}
