@mixin container() {
  display: flex;
  margin: 0 150px;
  @media (max-width: $desktop-width) {
    margin: 0 20px;
  }
}

@mixin gradient-text() {
  background: $gradient-text;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
