$inter: "Inter", sans-serif;
$montserrat: "Montserrat", sans-serif;
$light-text: #e4e5ea;
$dark-text: #656566;
$gradient-text: var(
  --gradient,
  linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%)
);
$desctop-width: 1025px;
$mobile-width: 320px;
